! ╻ ╻┏━┓┏━╸┏━┓┏━┓╻ ╻┏━┓┏━╸┏━╸┏━┓!
! ┏╋┛┣┳┛┣╸ ┗━┓┃ ┃┃ ┃┣┳┛┃  ┣╸ ┗━┓!
! ╹ ╹╹┗╸┗━╸┗━┛┗━┛┗━┛╹┗╸┗━╸┗━╸┗━┛!
! by: asarch                    !
!-------------------------------!

!!----------------------------------------------------------------------------!!
!! Xft (font) settings
!!----------------------------------------------------------------------------!!
 
xft*dpi:                    96
xft*antialias:              false
xft*hinting:                full
xft*rgba:                   rgb
xft*autohint:               false
xft*hintstyle:              hintslight
Xft.autohint:               1
xft*lcdfilter:              lcddefault

urxvt.font:xft:Iosevka:size=11
urxvt.boldFont:xft:Iosevka:size=9
URxvt.font:xft:Font\ Awesome:antialias=true:pixelsize=10

!!----------------------------------------------------------------------------!!
!! Mouse cursor settings
!!----------------------------------------------------------------------------!!
xcursor.theme:              Capitain
xcursor.size:               22
 
!!----------------------------------------------------------------------------!!
!! Extensions ~/.urxvt./ext
!!----------------------------------------------------------------------------!!

URxvt.perl-ext-common:      default,clipboard,keyboard-select,url-select,font-size


!!----------------------------------------------------------------------------!!
!! general settings
!!----------------------------------------------------------------------------!!

URxvt.font-size.step:       4
URxvt.keysym.C-plus:        font-size:increase
URxvt.keysym.C-minus:       font-size:decrease
URxvt.keysym.C-equal:       font-size:reset
URxvt.keysym.C-slash:       font-size:show
urxvt.letterSpace:          -1
Urxvt.scrollBar:            false
URxvt.internalBorder:       10
URxvt.dynamicColors:        on
URxvt.borderLess:           false
URxvt.scrollBar:            false
URxvt.urgentOnBell:         True
URxvt.visualBell:           False
URxvt.saveLines:            1024
URxvt.mouseWheelScrollPage: true
URxvt.termName:             rxvt-unicode-256color
URxvt.geometry:             100x24+302+161
URxvt*cursorUnderline:      true
URxvt*cursorBlink:          true
URxvt*depth: 				32


!!---------------------------------------------------------------------------!!
!! Clipboard
!!----------------------------------------------------------------------------!!

URxvt.keysym.C-S-C:         perl:clipboard:copy
URxvt.keysym.C-S-V:         perl:clipboard:paste
URxvt.keysym.C-S-W:         perl:clipboard:paste_escaped
URxvt.clipboard.copycmd:    xsel -ib
URxvt.clipboard.pastecmd:   xsel -ob

!!----------------------------------------------------------------------------!!
!! Tabs
!!----------------------------------------------------------------------------!!

URxvt.tabbed.tabbar-fg:     3
URxvt.tabbed.tabbar-bg:     0
URxvt.tabbed.tab-fg:        15
URxvt.tabbed.tab-bg:        0

!!----------------------------------------------------------------------------!!
!! Keyboard-selec
!!----------------------------------------------------------------------------!!

URxvt.keysym.C-Escape:      perl:keyboard-select:activate
URxvt.keysym.C-S-S:         perl:keyboard-select:search

!!----------------------------------------------------------------------------!!
!! Url-select
!!----------------------------------------------------------------------------!!

URxvt.keysym.C-S-U:         perl:url-select:select_next
URxvt.url-select.autocopy:  true
URxvt.url-select.button:    1
URxvt.url-select.launcher:  /usr/bin/firefox
URxvt.url-select.underline: true

!!----------------------------------------------------------------------------!!
!!Urxvt  colors
!!----------------------------------------------------------------------------!!

!!URxvt.colorIT:            #DEDEDE
!!URxvt.colorBD:            #B1ACAC
!!URxvt.colorUL:            #6B6767

!!----------------------------------------------------------------------------!!
!!General   colors
!!----------------------------------------------------------------------------!!

*cursorColor:               #C5C5C5
*.background:               [98]#050506
!*.background:               [93]#080A0B
*foreground:                #c5c5c5
*fadeColor :                #002233

! black
*color0:                    #0D0E10
*color8:                    #26F2D4

! red
*color1:                    #565952
*color9:                    #797F7F

! green
*color2:                    #35363C
*color10:                   #5CEAF4

! yellow
*color3:                    #43DDB5
*color11:                   #13E5CE


! blue
*color4:                    #13E5A8
*color12:                   #10ECEC

! magenta
*color5:                    #EE1F56
*color13:                   #EC386C

! cyan
*color6:                    #12E2CD
*color14:                   #2FE6E2

! white
*color7:                    #666868
*color15:                   #CFD7D7
